.chit_batch .batch-title {
  font-size: 18px;
}
.chit_batch .filter-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chit_batch .filter-btns .filt-btn {
  background: #fff;
  padding: 10px 15px;
  font-size: 12px;
  color: #444;
  border: 1px solid #efefef;
  box-shadow: 0 10px 26px #00000014;
}
.chit_batch .filter-btns .filt-btn i {
  margin-left: 5px;
  font-size: 11px;
}
.chit_batch .filter-btns .filt-btn.active {
  background: var(--main-color);
  color: #fff;
  border-color: var(--main-color);
}

.plan-stack {
  background: #fff;
  padding: 15px 15px;
  font-size: 12px;
  color: #444;
  border: 1px solid #efefef;
  box-shadow: 0 10px 26px #00000014;
  display: flex;
  gap: 15px;
  border-radius: 10px;
}
.plan-stack .stack-icon .icon {
  background-color: rgba(0, 136, 255, 0.19);
  color: rgb(0, 136, 255);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
}
.plan-stack .stack-icon .icon-1 {
  background-color: rgba(0, 136, 255, 0.19);
  color: rgb(0, 136, 255);
}
.plan-stack .stack-icon .icon-2 {
  background-color: #00ff2f36;
  color: #00a018;
}
.plan-stack .stack-icon .icon-3 {
  background-color: #7b008130;
  color: #830093;
}
.plan-stack .stack-icon .icon-1 {
  background-color: rgba(0, 136, 255, 0.19);
  color: rgb(0, 136, 255);
}
.plan-stack .stack-icon .icon-2 {
  background-color: #00ff2f36;
  color: #00a018;
}
.plan-stack .stack-icon .icon-4 {
  background-color: #ffc10740;
  color: #ffc107;
}
.plan-stack .stack-content .text {
  font-size: 13px;
  color: #444;
  margin-bottom: 3px;
}
.plan-stack .stack-content .title {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  margin-bottom: 0px;
}

/* RADIO CARD PAYMENT MODE */
.radio-card {
  display: block;
  background: #efefef;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  color: #000;
  font-size: 12px;
}
.radio-card .icon {
  font-size: 20px;
  margin-bottom: 5px;
}
.radio-card input {
  display: none;
}

.radio-card.active {
  border-color: var(--main-color);
  background: #8f0c000f;
  color: var(--main-color);
}
