@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css");

:root {
  --public-sans-family: "Public Sans", sans-serif;
  --heebo-family: "Heebo", sans-serif;
  --gradient-color: linear-gradient(90deg, rgba(212, 72, 59, 1) 0%, rgba(181, 33, 20, 1) 50%, rgba(143, 12, 0, 1) 100%);
  --main-color: rgba(143, 12, 0, 1);
  --padding-manual: 50px 0px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: var(--public-sans-family) !important;
  background: #fbfbfb !important;
  overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
}
@media print {
  html,
  body {
    width: 210mm;
    height: auto;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: none;
  }

  .invoice {
    width: 210mm;
    /* A4 width */
    max-width: 210mm;
    margin: auto;
    font-family: "Roboto Slab", serif;
    padding: 10mm;
    box-sizing: border-box;
  }

  @page {
    size: A4;
    margin: 0;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
.popup-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px 26px;
  border-radius: 8px;
  background: #ffffff;
  color: #333;
  font-weight: 500;
  z-index: 99999;
  display: flex;
  align-items: center;
  gap: 8px;
  backdrop-filter: blur(2px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-left: 6px solid transparent;

  animation: fadeSlide 0.3s ease-in-out;
}

/* SUCCESS */
.popup-message.success {
  border-left-color: #28a745;
  color: #28a745;
}

/* ERROR */
.popup-message.error {
  border-left-color: #dc3545;
  color: #dc3545;
}
.employee-expand-row {
  background: #fafafa;
}

.employee-expand-box {
  padding: 14px 18px;
  border-left: 4px solid #8b0000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 8px 20px;
  font-size: 14px;
}
.btn.bg-transparent i {
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.btn.bg-transparent:hover i {
  color: #000;
  transform: scale(1.1);
}

.modal {
  z-index: 1055 !important;
}

.modal-backdrop {
  z-index: 1050 !important;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 20px;
  }
}

.pagination .page-item.active .page-link {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: #ffffff !important;
  box-shadow: none !important;
}
.pagination .page-item.active > .page-link {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.main-btn {
  background: var(--gradient-color) !important;
  color: #fff !important;
  padding: 10px 16px !important;
  border-radius: 8px;
  font-size: 13px !important;
  border: none !important;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
}

.main-btn:hover {
  background: var(--gradient-color) !important;
  color: #fff !important;
}
.filter-btn {
  background: #000 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #fff !important;
  font-size: 13px !important;
  border-radius: 3px;
  padding: 10px 12px !important;
}
.filter-btn.dropdown-toggle::after {
  display: none;
}

.form-label,
.form-check-label {
  font-size: 14px;
  font-weight: 500;
}

.form-check-input:checked {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  box-shadow: none !important;
}
.form-modal .form-check:has(.form-check-input:checked) {
  border-color: var(--main-color);
}
.form-check-input {
  box-shadow: none !important;
}
.form-modal .form-label {
  font-size: 14px;
  color: #666;
}
.form-modal .form-check-label {
  font-size: 13px;
  color: #000;
  display: block;
}

.form-modal .form-check small {
  font-size: 12px;
  color: #444;
}
.form-modal .form-select,
.form-modal .form-control {
  font-size: 14px;
  background-color: #efefef;
  padding: 10px;
  -webkit-appearance: auto !important;
  appearance: auto !important;
}
/*
Source - https://stackoverflow.com/a/21998995
Posted by Roman, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-18, License - CC BY-SA 3.0
*/

.form-modal .form-check-label {
  font-size: 13px;
  color: #444;
  display: block;
}
.form-modal .subtitle {
  font-size: 15px;
  font-weight: 600;
  color: #444;
  margin-bottom: 0px;
}
